@model RouteOptimization.Infrastructure.RetailerViewModel
@*<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>*@

<script>
    function EditRetailerList() {
        $("#retailerForm").submit(function () {
            //var mydata = $("#storeForm").serializeArray();

            // var mydata = JSON.stringify($("#storeForm").serializeArray());

            var Name = $("#Name").val();
            var RetailerNumber = $("#RetailerNumber").val();
            var EmailID = $("#EmailID").val();
            var Phone = $("#Phone").val();
         //   var AddressID = $("#AddressID").val();

            var ID = $("#ID").val();
            
            if (ID == "") {
                ID=0;
            }
              var mydata = JSON.stringify({ ID: ID, Name: Name, RetailerNumber: RetailerNumber, EmailID: EmailID, Phone: Phone });
            
           
         //   alert(mydata); // it's only for test
         //   debugger;
            $.ajax({

                url: '/Retailer/Create',
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                async: false,
                data: mydata,
                success: function (res) {
                  //  alert(res);
                    $.ajax({
                        url: '/Retailer/Index',
                        type: 'POST',
                        success: function (response) {
                         //   alert("innerAjaxSuccess");
                            $("dvRetailerList").html(response);
                        },
                        error: function (xhr, status, error) {

                            console.log(xhr);
                            console.log(status);
                            console.log(error);
                        }

                    });
                },
                error: function(res) {
                   // alert("Error ");
                }
            });
        });
      //  alert("here is the jquery");
    }
</script>

<div id="dvFormRetailer">
    @Html.Partial("_FrmRetailer");
</div>



<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Retailer List:</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox">
                </div>

                <div class="widget-body no-padding">
                    <div id="dvRetailerList">
                        @Html.Partial("_Retailer", Model.allRetailers.ToList())
                    </div>
                </div>

            </div>
        </div>
    </article>
</div>

